* {
	font-size: 32px;
	font-family: MesloLGS Nerd Font;
}

window#waybar {
	background: #010300;
	color: #fcf7d1;
	border: hidden;
	border-radius: 15px;
}

.modules-left,
.modules-center,
.modules-right {
	padding: 2px 1px;
	border: 5px hidden;
	border-radius: 15px;
}

#workspaces button {
	padding: 0 15px;
	color: #2a8b8b;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: #444444;
	border: #444444;
	border-radius: 20px;
	padding: 0px 15px;
}
#workspaces button.persistent {
	color: #75c58e;
}
#workspaces button.active {
	color: #9e6a90;
}
#workspaces button.urgent {
	color: #8c0005;
}

#window {
	padding-left: 160px;
	padding-right: 160px;
	color: #f7f8fc;
}

#bluetooth {
	color: #5a7f78;
}

#clock {
	color: #df5d2e;
}

#wireplumber {
	color: #a4c972;
}

#tray,
#clock,
#wireplumber,
#bluetooth {
	padding: 0px 15px;
}
