* {
	font-size: 30px;
	font-family: FiraCode Nerd Font;
}

window#waybar {
	background: #1b1b1b;
	color: #fdf6e3;
	border: hidden;
	border-radius: 15px;
}

.modules-left,
.modules-center,
.modules-right {
	padding: 2px 1px;
	border: 5px hidden;
	border-radius: 15px;
}

#workspaces button {
	padding: 0 15px;
	color: #034057;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: #828282;
	border: #828282;
	border-radius: 20px;
	border-bottom: 3px solid #828282;
	padding: 0px 17px;
}
#workspaces button.persistent {
	color: #4d92ab;
}
#workspaces button.active {
	color: #dba540;
}
#workspaces button.urgent {
	color: #ff0000;
}

#window {
	padding-left: 160px;
	padding-right: 160px;
	color: #6b0000;
}

#bluetooth {
	color: #005e19;
}

#clock {
	color: #e3cc00;
}

#wireplumber {
	color: #e66300;
}

#tray,
#clock,
#wireplumber,
#bluetooth {
	padding: 0px 15px;
}
